@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
/* font-family: 'Varela Round', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap");
/* font-family: 'Montserrat', sans-serif; */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

#root {
  width: min(90%, 400px);
}

.App {
  border: 1px solid #e5e7eb;
  border-radius: 21px;
  box-shadow: #0000003d 0 3px 8px;
  padding: 0 0 2rem;
}

h1 {
  text-align: center;
  font-weight: 500;
}

.container-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container-inputs div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 5rem;
}

.container-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0 1.6rem;
}

.display-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-family: "Varela Round", sans-serif;
}

button {
}

.btn-start {
  font-weight: 400;
  box-sizing: border-box;
  transition: all 0.2s;
  background-color: #43d688;
  border: 1px solid #43d688;
  color: #fff;
  font-size: 16px;
  padding: 15px 25px;
  border-radius: 50px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  text-align: center;
  margin: 0 15px;
}

.btn-resume {
  font-weight: 400;
  transition: all 0.2s;
  background-color: #e4d20c;
  border: 1px solid #e4d20c;
  color: #fff;
  font-size: 16px;
  padding: 15px 25px;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  text-align: center;
  margin: 0 15px;
}

.btn-reset {
  font-weight: 400;
  transition: all 0.2s;
  background-color: #8495b6;
  border: 1px solid #8495b6;
  color: #fff;
  font-size: 16px;
  padding: 15px 25px;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  text-align: center;
  margin: 0 15px;
}

button:hover {
  border-color: #646cff;
}

label {
  display: block;
  width: 100%;
  text-align: center;
}

select {
  text-align: center;
  height: 48px;
  font-size: 14px;
  line-height: 1.6;
  color: #777;
  background-color: #fff;
  border: 1px solid #eaeaea;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-width: 2px;
  padding: 10px 0;
  width: 100%;
  border-radius: 0;
}
